# ---------------------------------------- #
# Default .gitignore file for C/C++ projects
# ---------------------------------------- #

# Files
*.d
*.o

# Libraries
*.lib
*.a
*.la
*.lo

# Folders
.venv/